.totalWrapper {
  display: flex;
  justify-content: center;
}

.mainWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 10rem;
  gap: 2rem;
  max-width: 1200px;
}

@media (max-width: 992px) {
  .mainWrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;
  }
}

@media (max-width: 480px) {
  .mainWrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 4rem;
  }
}
